<html lang="pl">
<head>
<meta charset="utf-8">
<title>DCA - Deicide Core Application</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
	<div class="container-fluid" style="margin-bottom: 1em">
		<div class="row text-center" id="top-nav">
			<img id="logo" class="rounded mx-auto d-block" src="{{ url_for('static', filename='images/DCA.png') }}">
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 center-block text-center">
				<h4>Choose company:</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-4 center-block text-center">
				<div class="company">
					<a href="/requests?company_id=1" id="company_link">
						<div class="row" style="margin: 0.2em">
							<div class="col-4">
								<div id="company_logo"><img src="{{ url_for('static', filename='images/deicide.png') }}"></div>
							</div>
							<div class="col-8">
								<div id="company_name">Deicide</div>
								<div id="company_info">
									<ul id="company_info" style="text-align: left">
										<li>Employees: 1</li>
										<li>Open requests: 0</li>
										<li>Waiting requests: 4</li>
										<li>Closed requests: 25</li>
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
