{% include "header.html" %}
	
	<div class="container">
		<div class="row">
			<div class="col-12 center-block text-center">
				<h4>Choose company:</h4>
			</div>
		</div>
		
		<div class="row">
			{% for d in data %}
				{% set employees = emp_data[d['name']] %}
				{% set opened = open[d['name']] %}
				{% set wait = waiting[d['name']] %}
				{% set close = closed[d['name']] %}
				{% set image = 'images/'+d['logo'] %}
			<div class="col-4 center-block text-center">		
				<div class="company">
					<a href="/requests?company_id={{ d['id'] }}" id="company_link">
						<div class="row" style="margin: 0.2em">
							<div class="col-4">
								<div id="company_logo"><img src="{{ url_for('static', filename=image) }}"></div>
							</div>
							<div class="col-8">
								<div id="company_name">{{ d['name'] }}</div>
								<div id="company_info">
									<ul id="company_info" style="text-align: left">
										<li>Employees: {{ employees }}</li>
										<li>Open requests: {{ opened }}</li>
										<li>Waiting requests: {{ wait }}</li>
										<li>Closed requests: {{ close }}</li>
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>
