<html lang="pl">
<head>
<meta charset="utf-8">
<title>DCA - Deicide Core Application</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
	<div class="container-fluid" style="margin-bottom: 1em">
		<div class="row text-center" id="top-nav">
			<img id="logo" class="rounded mx-auto d-block" src="{{ url_for('static', filename='images/DCA.png') }}">
		</div>
	</div>
	
	<div class="container">
		<div id="request">
			<div id="request_header"><h4>{{ req_data['title'] }}</h4></div>
			<div id="request_info">
				<ul id="request_info">
					<li>Request created: {{ req_data['date'] }}</li>
					<li>State: {{ req_data['status'] }}</li>
				</ul>
			</div>
			<div id="request_body">
				{{ req_data['body']|safe }}
			</div>
		</div>
	</div>
