#logo {
	max-width: 200px;
	margin-bottom: 0.5em;
}

#top-nav {
	background-color: #5B5B5B;
}

.company {
	border: 1px solid #000000;
	border-radius: 10px;
	background: #E3E3E3;
	width: 70%;
	min-height: 6em;
	margin-left: auto;
	margin-right: auto;
}.company:hover {
	background: #ECECEC;
}

#company_logo img {
	max-height: 100px;
}

#company_name {
	font-weight: bold;
}

div#company_info {
	font-size: 12px;
}

ul#company_info, ul#request_info {
	list-style: none;
}

#company_link {
	color: #000;
	text-decoration: none;
}

.open {
	color: #00AC00;
} .waiting {
	color: #009AE6;
} .closed {
	color: #FF0000;
}

#request {
	border: 1px solid #000;
}

#request_header {
	height: 2.3em;
	background: #FFEAEA;
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-size: 20px;
} #request_header h4 {
	padding: 10px;
}

div#request_info {
	padding: 10px;
	border-bottom: 1px solid #000;
}

div#request_body {
	padding: 10px;
}

textarea#req_text {
	width: 100%;
}

#message {
	border: 1px solid #000;
	background: #E8E8E8;
}

#notes {
	border: 1px solid #000;
	background: #FAF6BD;
}

#notes_header {
	height: 2em;
	background: #FFF56B;
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-size: 15px;
} #notes_header h4 {
	padding: 8px;
	font-size: 15px;
}

#note {
	margin-top: 5px;
}

div#note_info {
	border-right: 1px solid #656565;
} ul#note_info {
	list-style: none;
	padding: 0;
}
